<div class="vene-first">

<div class="vene-human">
        <div class='vene-man'>
            <div class="human-shadow"></div>
            <img src="/assets/man.png">
            <h1 class="human-text">Male</h1>
            <h2 class="human-text">남자</h2>
        </div>
        <div class='vene-woman'>
            <div class="human-shadow"></div>
            <img src="/assets/woman.jpg">
            <h1 class="human-text">Male</h1>
            <h2 class="human-text">여자</h2>
        </div>
</div>
<div style="width: 100vw;height:100vw;position:relative;">
<div class="vene-human-box">
    <div class="vene-human-see">
        <div class="vene-human-see-pic">
            <img src="/assets/질.png">
            <div class="vene-circle"></div>
        </div>
        <div class="vene-human-see-content">
            <div class="vene-human-see-content-box">
                <h1>헤르페스</h1>
                <div style="width: 8vh;border:0.1vh solid white;"></div>
                <h2>성관계를 통해 전염되는 헤르페스에 감염되면 성기 주위에 조그만 물집이 여러 개 나타난다. 작은 물집은 1,2주 후 딱지가 앉고 2,4주 후면 자연 치유된다. 하지만 헤르페스는 일단 감염이 되면 재발 가능성이 높아 속수무책이다. 예방주사도 없다. 헤르페스 바이러스가 신경절 내에 숨어 있다가 스트레스, 피로, 외상 월경 임신, 자외선 조사, 고열 등의 인자들에 의해 다시 재발한다. 이 때 항바이러스제를 투여해 바이러스 억제하는 치료는 가능하지만 아직까지 뾰족한 완치법이 없다.</h2>
            </div>
        </div>
    </div>
</div>
</div>
<div style="width: 100vw;height:100vw;position:relative;">
<div class="vene-human-box">
    <div class="vene-human-see">
        <div class="vene-human-see-pic">
            <img src="/assets/질.png">
            <div class="vene-circle"></div>
        </div>
        <div class="vene-human-see-content">
            <div class="vene-human-see-content-box">
                <h1>헤르페스</h1>
                <div style="width: 8vh;border:0.1vh solid white;"></div>
                <h2>성관계를 통해 전염되는 헤르페스에 감염되면 성기 주위에 조그만 물집이 여러 개 나타난다. 작은 물집은 1,2주 후 딱지가 앉고 2,4주 후면 자연 치유된다. 하지만 헤르페스는 일단 감염이 되면 재발 가능성이 높아 속수무책이다. 예방주사도 없다. 헤르페스 바이러스가 신경절 내에 숨어 있다가 스트레스, 피로, 외상 월경 임신, 자외선 조사, 고열 등의 인자들에 의해 다시 재발한다. 이 때 항바이러스제를 투여해 바이러스 억제하는 치료는 가능하지만 아직까지 뾰족한 완치법이 없다.</h2>
            </div>
        </div>
    </div>
</div>
</div>
<div style="width: 100vw;height:100vw;position:relative;">
<div class="vene-human-box">
    <div class="vene-human-see">
        <div class="vene-human-see-pic">
            <img src="/assets/질.png">
            <div class="vene-circle"></div>
        </div>
        <div class="vene-human-see-content">
            <div class="vene-human-see-content-box">
                <h1>헤르페스</h1>
                <div style="width: 8vh;border:0.1vh solid white;"></div>
                <h2>성관계를 통해 전염되는 헤르페스에 감염되면 성기 주위에 조그만 물집이 여러 개 나타난다. 작은 물집은 1,2주 후 딱지가 앉고 2,4주 후면 자연 치유된다. 하지만 헤르페스는 일단 감염이 되면 재발 가능성이 높아 속수무책이다. 예방주사도 없다. 헤르페스 바이러스가 신경절 내에 숨어 있다가 스트레스, 피로, 외상 월경 임신, 자외선 조사, 고열 등의 인자들에 의해 다시 재발한다. 이 때 항바이러스제를 투여해 바이러스 억제하는 치료는 가능하지만 아직까지 뾰족한 완치법이 없다.</h2>
            </div>
        </div>
    </div>
</div>
</div>
</div>
