<div class="reference">
    <div class="title">
        <h1>8월의 추천 콘텐츠</h1>
    </div>

    <div class="contents">
        <a href="https://m.blog.naver.com/PostView.nhn?blogId=navi_2be&logNo=220895402219&proxyReferer=https%3A%2F%2Fwww.google.co.kr%2F"> <div class="ref-1 grid-item">
        <h2>지긋지긋 <br> 생리대에서 탈출하기</h2></div> </a>

        <a href="https://m.post.naver.com/viewer/postView.nhn?volumeNo=4485960&memberNo=2993146&vType=VERTICAL"><div class="ref-2 grid-item">
        <h2>우리 모두가 알아야 하는 <br> 성범죄 대처법</h2></div> </a>

        <a href="http://www.cosmopolitan.co.kr/article/RetArticleView.asp?strArtclCd=A000007798&strFCateCd=ADAB">
        <div class="ref-2 grid-item"><h2>엄마! 난 어떻게<br> 태어났어?</h2></div></a>
    </div>

    <div class="bottom">
        <p>이 달의 추천 콘텐츠는 [성교]의 자체 알고리즘을 통해 엄선된 자료입니다.
        <br>실질적인 성교육을 위한 추가 자료로 활용하기에 아주 적합합니다.</p>
</div>