

<div class="vene-bottom con-to">
    <div class="vene-human" style="margin-top: 45vh;height: 10vh;">
        <div class='vene-man'>
            <div class="human-shadow"></div>
            <img src="/assets/man.png">
            <h1 class="human-text">Male</h1>
            <h2 class="human-text">남자</h2>
        </div>
        <div class='vene-woman'>
            <div class="human-shadow"></div>
            <img src="/assets/woman.jpg">
            <h1 class="human-text">Female</h1>
            <h2 class="human-text">여자</h2>
        </div>
    </div>

    <div class="imjil vene-bottom-content" style="padding-top:-5vh;width:100%;">
        
        <div class="vene-bottom-box-top">
            <h1>01</h1>
        </div>
            
        <img src="/assets/x.svg" style="position:absolute;top: 2vh;right:2vh;">
        <img src="/assets/mini.svg" style="position:absolute;top: 1.8vh;right:5vh;width:2.4vh;height:2.4vh;">
        
        <div class="vene-bottom-box" style="width:100%;display:Flex;flex-direction:column;align-items:center;">
            <div style="display:Flex;align-items:center;width:100%;display:flex;justify-content:flex-start;margin-bottom:4vh;">
                <div class="vene-box-img" style="margin-right: 8vh;margin-left:20vh;">
                    <img src="/assets/콘돔.gif" style="height: 17vh; width: 25vh">
                </div>
                
                <div class="title">
                    <h1 class="vene3" style="font-size: 5vh">콘돔</h1>
                    <h1 class="vene3" style="font-size: 3.5vh;margin-bottom:2vh;margin-top:0.4vh">Condom 어멋</h1>
                    <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
                    <h2 style="position:relative;margin-top:1vh">성분 : 라텍스 </h2>
                    <h2></h2>
                </div>
            </div>
            
        <h2 class="vene1"> 	원리 : 발기한 남성성기에 착용하여 정자를 물리적으로 차단</h2>
        <h2 class="vene1"  style="margin-top:0;"> 성공률 : 82-98% | 하지만 제대로 된 사용법을 익히지 않는 경우 성공률 편차가 심함</h2>
        <h2 style="font-size: 3.5vh;">사용 순서</h2>
            
        <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
        
            <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 20vh;">
                <img class="quiz-left1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:8vh;display:none;" onclick="leftMove1()">
                <img class="quiz-right1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:8vh;" onclick="rightMove1()">

                <div style="display:flex;width: 1000vw;position:absolute;" class="gg-1">
                <div id= "stage" class="color-blue stage1">
                
                <h1 class="vene1">1. 콘돔을 뜯는다!</h2>
                <h2 class="vene1">반드시 손으로 뜯을 것</h2>
                <h3 class="vene1">이빨이나 다른 것을 이용하면 콘돔이 찢어질 확률이 높다!</h2>
           
            </div>
            
            <div id="stage" class="color-blue stage2">
                <h1 class="vene1">2. 콘돔 말린 부분 확인!</h2>
                <h2 class="vene1"> 강하게 당기려 하지 말 것</h2>
                <h3 class="vene1">그렇지 않으면 착용 전에 찢어지거나 느슨해질 수 있다!</h2>
            </div>
            
            <div id= "stage" class="color-blue stage3">
                <h1 class="vene1">3. 정액받이를 손끝으로 집기!</h2>
                <h2 class="vene1">정액받이 부분의 기압 조절</h2>
                <h3 class="vene1">그러지 않으면 사정중 콘돔이 기압차로 터지기 쉽다!</h2>
            </div>
            
            <div id= "stage" class="color-blue stage4">
                <h1 class="vene1">4. 사정하자 마자 제거!</h2>
                <h2 class="vene1">발기가 풀리기 전에 끝부분을 잡고 뽑기</h2>
                <h3 class="vene1">정액이 콘돔과 성기 사이로 흘러나올 수 있다!</h2>
            </div>
        </div>
    </div>

        <h2 style="font-size: 3.5vh;margin-top:5vh;">주 의 사 항</h2>
        
        <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
        
        <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 40vh;margin-bottom:6vh;">
        
            <img class="quiz-left" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:18vh;display:none;" onclick="leftMove()">
            <img class="quiz-right" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:18vh;" onclick="rightMove()">
        
            <div style="display:flex;width: 1000vw;position:absolute;" class="gg">
        
            <div class="warning">
            <div>
            <img src="/assets/warning.svg">
            <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
            </div>
            <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">유통기한 확인 필수</h2>
                <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">오래된 것은 찢어질 수 있다!</h2>
            </div>
        </div>
            <div class="warning">
            <div>
            <img src="/assets/warning.svg">
            <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
            </div>
            <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">귀두를 젖히고 씌워야</h2>
                <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">포경을 안했다면 귀두를 젖혀야 안찢어진다!</h2>
            </div>
        </div>
            <div class="warning">
            <div>
            <img src="/assets/warning.svg">
            <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
            </div>
            <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">기름 성분이 닿지 않아야</h2>
                <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">베이비오일, 바셀린은 라텍스를 녹인다! </h2>
            </div>
        </div>
            <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width70vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">알러지가 있을 수 있어</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">라텍스 알러지, 윤활액 알러지를 반드시 확인한다!</h2>
               </div>
            </div>
            </div>
            </div>
        </div>
        </div>


        <div class="imjil vene-bottom-content" style="padding-top:-5vh;width:100%;">
            <div class="vene-bottom-box-top">
            <h1>02</h1>
            </div>
            <img src="/assets/x.svg" style="position:absolute;top: 2vh;right:2vh;">
            <img src="/assets/mini.svg" style="position:absolute;top: 1.8vh;right:5vh;width:2.4vh;height:2.4vh;">
            <div class="vene-bottom-box" style="width:100%;display:Flex;flex-direction:column;align-items:center;">
                <div style="display:Flex;align-items:center;width:100%;display:flex;justify-content:flex-start;margin-bottom:4vh;">
                    <div class="vene-box-img" style="margin-right: 8vh;margin-left:20vh;">
                    <img src="/assets/pill.gif" style="height: 17vh; width: 25vh">
                    </div>
                    <div class="title">
                    <h1 class="vene3" style="font-size: 5vh">경구피임약</h1>
                    <h1 class="vene3" style="font-size: 3.5vh;margin-bottom:2vh;margin-top:0.4vh">Contraceptive pill</h1>
                       <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
                    <h2 style="position:relative;margin-top:1vh">성분 : 에스트로겐 및 프로게스테론 유사성분</h2>
                    <h2></h2>
                    </div>
                </div>
                <h2 class="vene1" style="margin-top:0;"> 	원리 : 몸을 임신상태로 착각하게 만들어 배란 억제</h2>
                <h2 class="vene1" style="margin-top:0;"> 	자궁에 들어오는 길목을 끈끈하게 만들어 정자의 통과 막음</h2>
                <h2 class="vene1" style="margin-top:0;"> 	통과할 시 착상하지 못하도록 자궁내막을 이상한 형태로 만듦</h2>
                <h2 class="vene1" > 성공률 : 91-99% | 가격 : 1 패키지 당 1-3만원</h2>
                <h2 style="font-size: 3.5vh;">복용방법</h2>
                <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
           <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 20vh;">
           <img class="quiz-left1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:8vh;display:none;" onclick="leftMove1()">
            <img class="quiz-right1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:8vh;" onclick="rightMove1()">

           <div style="display:flex;width: 1000vw;position:absolute;" class="gg-1">
            <div id= "stage" class="color-blue stage1">
                <h1 class="vene1">Case 1. 피임약을 처음으로 복용하는 경우</h2>
                <h2 class="vene1">반드시 생리 시작날부터 매일 같은 시간에 복용할 것</h2>
                <h3 class="vene1">일반적으로 21정+7일 휴약을 하거나 안 먹는 것과 같은 효과인 위약 복용해야합니다.</h2>
                <h3 class="vene1">생리 시작일 기준 5일 이내까지는 복용 시 바로 효과가 있습니다.</h2>
                <h3 class="vene1">생리 시작일 기준 5일 이후로는 복용효과를 바로 기대하기 어려우니, 첫 7일 간 콘돔을 병행해주세요</h2>
            
             </div>
                
               <div id="stage" class="color-blue stage2">
                <h1 class="vene1">Case 2. 피임약 복용을 까먹은 경우</h2>
                <h2 class="vene1">1) 예정된 복용시간에서 24시간이 지나지 않았을 때</h2>
                <h2 class="vene1">2) 예정된 복용시간에서 24~48시간이 지났을 때</h2>
                <h2 class="vene1">3) 예정된 복용시간에서 48시간 이상 지났을 때</h2>
               
            </div>
               
               <div id= "stage" class="color-blue stage3">
                <h1 class="vene1">Case 2-1) 예정된 복용시간에서 24시간이 지나지 않았을 때</h2>
                <h3 class="vene1">지금 바로 1알 먹고 다음날은 원래 정해진 시간에 드시면 됩니다.</h2>
                <h3 class="vene1">피임효과는 유지되니 안심하세요!</h2>
               
            </div>

                <div id= "stage" class="color-blue stage3">
                <h1 class="vene1">Case 2-2) 예정된 복용시간에서 24~48시간이 지났을 때</h2>
                <h2 class="vene1">- 1알을 빼먹은 경우, 새로운 패키지를 하루 늦게 시작한 경우에 해당</h2>
                <h2 class="vene1">무조건 지금 바로 빼먹은 약을 먹고, 다음날은 원래 정해진 시간에 드시면 됩니다.</h2>
                <h3 class="vene1">피임약 주기의 첫번째 주 : 7일 동안은 콘돔을 함께 병행해주시기 바랍니다.</h2>
                <h3 class="vene1">피임약 주기의 두-세번째 주 : 이전 7일 간 꾸준히 약을 복용했다면 콘돔을 병행하지 않으셔도 됩니다.</h2>
               
            </div>
               
             <div id= "stage" class="color-blue stage4">
                <h1 class="vene1">Case 2-3) 예정된 복용시간에서 48시간 이상 지났을 때</h2>
                <h2 class="vene1">- 2알 이상 빼먹은 경우, 새로운 패키지를 이틀 이상 늦게 시작한 경우에 해당</h2>
                <h2 class="vene1">무조건 지금 바로 빼먹은 약을 먹고, 다음 약은 원래 정해진 시간에 복용하여, 하루에 총 2알을 드시게 됩니다.</h2>
                <h2 class="vene1">7일 간 콘돔을 꼭 병행하셔야 하고, 병행하지 않을 시 응급피임법이 필요할 수 있습니다.</h2>
               
            </div>

            <div id= "stage" class="color-blue stage5">
                <h1 class="vene1">Case 2-3) 예정된 복용시간에서 48시간 이상 지났을 때</h2>
                <h2 class="vene1">마지막으로 언제 약을 빼먹었는지에 따라 휴약기를 가지는 방법은 아래와 같습니다.</h2>
                <h3 class="vene1">피임약 주기의 첫째, 둘째 주에 빼먹은 경우 : 지금 먹고 있는 패키지를 마저 복용하고, 기존과 동일하게 휴약기를 가지세요.</h2>
                <h2 class="vene1">피임약 주기의 셋째 주에 빼먹은 경우 : 지금 먹고 있는 패키지 복용이 끝나면, 다음 날부터 바로 새로운 패키지 복용을 시작하세요.</h2>
               
            </div>
            </div>
        </div>
            <h2 style="font-size: 3.5vh;margin-top:5vh;">주 의 사 항</h2>
            <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
           <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 40vh;margin-bottom:6vh;">
           <img class="quiz-left" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:18vh;display:none;" onclick="leftMove()">
            <img class="quiz-right" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:18vh;" onclick="rightMove()">
            <div style="display:flex;width: 1000vw;position:absolute;" class="gg">
            <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">앞의 설명은 21정+7일 휴약 및 위약 기준의 설명입니다.</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">24+4 방식 등 위 방식과 다른 피임약의 경우 꼼꼼하게 설명서를 읽어주세요.</h2>
               </div>
            </div>
                <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">항경련제, 항결핵약, HIV 치료제 등 간에서 분해되는 약을 조심하세요!</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">간에서 분해되는 약과의 상호작용이 일어날 경우, 부작용과 피임효과 저하에 주의하셔야 합니다.</h2>
               </div>
            </div>
                <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">다양한 부작용에 주의해서 복용해주세요.</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">아주 드물게는 협심증, 고혈압, 뇌졸증, 간 종양, 담석 등의 부작용까지 생길 수 있습니다. </h2>
               </div>
            </div>
            <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width70vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">매일 같은 시간에 복용해야 함을 꼭 유의해주세요.</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">복용시간에 따라 피임 성공률의 편차가 생깁니다.</h2>
               </div>
            </div>
            </div>
            </div>
            
            
            <div class="imjil vene-bottom-content" style="padding-top:-5vh;width:100%;">
            <div class="vene-bottom-box-top">
            <h1>03</h1>
            </div>
            <img src="/assets/x.svg" style="position:absolute;top: 2vh;right:2vh;">
            <img src="/assets/mini.svg" style="position:absolute;top: 1.8vh;right:5vh;width:2.4vh;height:2.4vh;">
            <div class="vene-bottom-box" style="width:100%;display:Flex;flex-direction:column;align-items:center;">
                <div style="display:Flex;align-items:center;width:100%;display:flex;justify-content:flex-start;margin-bottom:4vh;">
                    <div class="vene-box-img" style="margin-right: 8vh;margin-left:20vh;">
                    <img src="/assets/DMPA.gif" style="height: 17vh; width: 25vh">
                    </div>
                    <div class="title">
                    <h1 class="vene3" style="font-size: 5vh">DMPA(Depot MedroxyProgesterone Acetate) 주사</h1>
                    <h1 class="vene3" style="font-size: 3.5vh;margin-bottom:2vh;margin-top:0.4vh">DMPA Injection</h1>
                       <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
                    <h2></h2>
                    </div>
                </div>
                <h2 class="vene1" style="margin-top:0;"> 	원리 : 프로게스틴 성분이 배란을 억제하고 자궁경관 점액을 끈끈하게 해서 정과가 통과하기 어렵도록 함</h2>
                <h2 class="vene1" > 성공률 : 94-99% | 가격 : 1회 주사 시 6-8만원 내외(건강보험 적용 X)</h2>
                <h2 style="font-size: 3.5vh;">이점 | Advantages</h2>
                <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
           <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 20vh;">
           <img class="quiz-left1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:8vh;display:none;" onclick="leftMove1()">
            <img class="quiz-right1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:8vh;" onclick="rightMove1()">

           <div style="display:flex;width: 1000vw;position:absolute;" class="gg-1">
            <div id= "stage" class="color-blue stage1">
                <h1 class="vene1">Advantage 1. 주사를 맞고 3개월 간 피임에 대해 전혀 신경 쓸 필요 없다!</h2>
                <h2 class="vene1">다시 주사를 맞아야 하는 날 기준으로 2주 이상 지날 때까지 피임은 아웃 오브 안중</h2>
            
             </div>
                
               <div id="stage" class="color-blue stage2">
                <h1 class="vene1">Advantage 2. 생리량이 줄어든다!</h2>
                <h2 class="vene1">생리하시는 분들은 알지요,,, ㄱㅇㄷ이라는 것을,,,</h2>
               
            </div>
               
               <div id= "stage" class="color-blue stage3">
                <h1 class="vene1">Advantage 3. 광범위한 사용성!</h2>
                <h3 class="vene1">에스트로겐 사용하면 안되는 분들 및 피임약 부작용으로 사용할 수 없는 분들 모두 사용 가능!!</h2>
               
            </div>

            </div>
        </div>
            <h2 style="font-size: 3.5vh;margin-top:5vh;">주 의 사 항</h2>
            <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
           <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 40vh;margin-bottom:6vh;">
           <img class="quiz-left" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:18vh;display:none;" onclick="leftMove()">
            <img class="quiz-right" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:18vh;" onclick="rightMove()">
            <div style="display:flex;width: 1000vw;position:absolute;" class="gg">
                <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">다양한 부작용이 발생할 수 있습니다.</h2>
                    <h3 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">부정출혈, 식욕 증가, 성욕 감소, 우울감, 두통, 탈모, 어지러움, 구역질, 유방통 등의 부작용부터</h2>
                    <h3 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">장기적으로 사용할 경우 골감소의 부작용까지 있을 수 있습니다.</h2>
                    <h3 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">6-9개월이 지나도 부작용이 지속된다면 다른 피임법으로 바꾸시길 바랍니다.</h2>
               </div>
            </div>
                <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">사용하면 안되는 대상에 유의하세요!</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400"> 간질환이 있거나, 혈전 색전증의 위험이 있는 사람부터 18세 미만 및 45세 이상, 임신할 수 없는 여성 등은 사용해서는 안됩니다!</h2>
               </div>
            </div>
            
            <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width70vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">피임을 중단하고 임신이 가능해지는 시기까지의 기간이 예상보다 길 수 있습니다.</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">이론적으로는 3개월부터이지만 보고에 따르면 9개월이 걸린 사람도 있을 정도입니다.</h2>
               </div>
            </div>
            </div>
            </div>


        <div class="imjil vene-bottom-content" style="padding-top:-5vh;width:100%;">
            <div class="vene-bottom-box-top">
            <h1>04</h1>
            </div>
            <img src="/assets/x.svg" style="position:absolute;top: 2vh;right:2vh;">
            <img src="/assets/mini.svg" style="position:absolute;top: 1.8vh;right:5vh;width:2.4vh;height:2.4vh;">
            <div class="vene-bottom-box" style="width:100%;display:Flex;flex-direction:column;align-items:center;">
                <div style="display:Flex;align-items:center;width:100%;display:flex;justify-content:flex-start;margin-bottom:4vh;">
                    <div class="vene-box-img" style="margin-right: 8vh;margin-left:20vh;">
                    <img src="/assets/DMPA.gif" style="height: 17vh; width: 25vh">
                    </div>
                    <div class="title">
                    <h1 class="vene3" style="font-size: 5vh">임플라논(피하 이식장치)</h1>
                    <h1 class="vene3" style="font-size: 3.5vh;margin-bottom:2vh;margin-top:0.4vh">Implanon</h1>
                       <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
                    <h2></h2>
                    </div>
                </div>
                <h2 class="vene1" style="margin-top:0;"> 	원리 : 작은 성냥개비 모양의 플라스틱을 팔 윗쪽의 안쪽 피부 바로 아래에 삽입하면 3년 간 성호르몬 역할을 하는 </h2>
                <h2 class="vene1" style="margin-top:0;"> 	에트노게스트렐 성분이 방출 => 뇌의 시상하부와 뇌하수체에 작용하여 배란을 억제</h2>
                <h2 class="vene1" > 성공률 : 99% 이상 | 가격 : 병원마다 상이하나 보통 25~40만원 사이(건강보험 적용 X)</h2>
                <h2 style="font-size: 3.5vh;">이점 | Advantages</h2>
                <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
           <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 20vh;">
           <img class="quiz-left1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:8vh;display:none;" onclick="leftMove1()">
            <img class="quiz-right1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:8vh;" onclick="rightMove1()">

           <div style="display:flex;width: 1000vw;position:absolute;" class="gg-1">
            <div id= "stage" class="color-blue stage1">
                <h1 class="vene1">Advantage 1. 세상 편리한 피임법</h2>
                <h2 class="vene1">삽입할 때는 1분, 제거할 때는 3분, 지속효과는 3년!</h2>
            
             </div>
                
               <div id="stage" class="color-blue stage2">
                <h1 class="vene1">Advantage 2. 위나 장에 영향이 없다!</h2>
                <h2 class="vene1">직접적으로 복용하는 것이 아니기 때문에 위나 장에 영향 무!</h2>
               
            </div>
               
               <div id= "stage" class="color-blue stage3">
                <h1 class="vene1">Advantage 3. 광범위한 사용성!</h2>
                <h3 class="vene1">에스트로겐 사용하면 안되는 분들 및 피임약 부작용으로 사용할 수 없는 분들,</h2>
                <h3 class="vene1">고혈압, 당뇨병, 비만인 사람 흡연하거나 수유하는 등의 사람들까지 모두 사용 가능하다!!</h2>
               
            </div>

            </div>
        </div>
            <h2 style="font-size: 3.5vh;margin-top:5vh;">주 의 사 항</h2>
            <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
           <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 40vh;margin-bottom:6vh;">
           <img class="quiz-left" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:18vh;display:none;" onclick="leftMove()">
            <img class="quiz-right" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:18vh;" onclick="rightMove()">
            <div style="display:flex;width: 1000vw;position:absolute;" class="gg">
            <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">각종 부작용에 유의해주세요!</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">시술날짜로부터 약 3~6개월 간 부정출혈, 무월경, 생리 주기 변경 등의 부작용이 일어날 수 있어요!</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">이외에도 부종, 피부 트러블, 두통, 탈모, 우울증, 빈혈, 체중 증가까지도 일어날 수 있답니다ㅠㅠ</h2>
               </div>
            </div>
                <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">피부에 흉터가 남을 수 있어요!</h2>
                    <h3 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">피하 이식장치다보니 제거한 후에도 흉터가 남을 수 있어요!</h2>
               </div>
            </div>
            </div>
            </div>


            <div class="imjil vene-bottom-content" style="padding-top:-5vh;width:100%;">
            <div class="vene-bottom-box-top">
            <h1>05</h1>
            </div>
            <img src="/assets/x.svg" style="position:absolute;top: 2vh;right:2vh;">
            <img src="/assets/mini.svg" style="position:absolute;top: 1.8vh;right:5vh;width:2.4vh;height:2.4vh;">
            <div class="vene-bottom-box" style="width:100%;display:Flex;flex-direction:column;align-items:center;">
                <div style="display:Flex;align-items:center;width:100%;display:flex;justify-content:flex-start;margin-bottom:4vh;">
                    <div class="vene-box-img" style="margin-right: 8vh;margin-left:20vh;">
                    <img src="/assets/호르몬루프.gif" style="height: 17vh; width: 25vh">
                    </div>
                    <div class="title">
                    <h1 class="vene3" style="font-size: 5vh">호르몬 루프</h1>
                    <h1 class="vene3" style="font-size: 3.5vh;margin-bottom:2vh;margin-top:0.4vh"Hormone Loop</h1>
                       <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
                    <h2></h2>
                    </div>
                </div>
                <h2 class="vene1" style="margin-top:0;"> 	원리 : 자궁 내 T자 모양의 플라스틱 장치 삽입</h2>
                <h2 class="vene1" style="margin-top:0;"> 	=> 프로게스틴인 레보노르게스트렐 방출</h2>
                <h2 class="vene1" style="margin-top:0;"> 	=> 자궁 내막이 얇아지고 자궁경관 점액을 끈끈하게 만듦</h2>
                <h2 class="vene1" style="margin-top:0;"> 	=> 정자 통과 불가 or 수정란 착상 X</h2>
                <h2 class="vene1" > 종류 : 1) 미레나(5년간 피임효과 지속, 크기 및 호르몬 용량 큼)</h2>
                <h2 class="vene1" > 종류 : 2) 제이디스(3년간 피임효과 지속, 크기 및 호르몬 용량 작음)</h2>
                <h2 class="vene1" > 성공률 : 99% 이상 | 가격 : 미레나는 30-40만원, 제이디스는 19-25만원 내외</h2>
                <h2 style="font-size: 3.5vh;">이점 | Advantages</h2>
                <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
           <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 20vh;">
           <img class="quiz-left1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:8vh;display:none;" onclick="leftMove1()">
            <img class="quiz-right1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:8vh;" onclick="rightMove1()">

           <div style="display:flex;width: 1000vw;position:absolute;" class="gg-1">
           

            <div id= "stage" class="color-blue stage1">
                <h1 class="vene1">Advantage 1. 세상 편리한 피임법</h2>
                <h2 class="vene1">삽입할 때는 1분, 제거할 때는 3분, 지속효과는 3년-5년!</h2>
            
             </div>
                
               <div id="stage" class="color-blue stage2">
                <h1 class="vene1">Advantage 2. 생리량이 줄어든다! 생리통도 줄어든다!</h2>
                <h2 class="vene1">생리하시는 분들은 알지요,,, ㄱㅇㄷ이라는 것을,,,</h2>
               
            </div>
               
               <div id= "stage" class="color-blue stage3">
                <h1 class="vene1">Advantage 3. 광범위한 사용성!</h2>
                <h3 class="vene1">에스트로겐 사용하면 안되는 분들 및 피임약 부작용으로 사용할 수 없는 분들 모두 사용 가능!!</h2>
               
            </div>

            </div>
        </div>
            <h2 style="font-size: 3.5vh;margin-top:5vh;">주 의 사 항</h2>
            <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
           <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 40vh;margin-bottom:6vh;">
           <img class="quiz-left" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:18vh;display:none;" onclick="leftMove()">
            <img class="quiz-right" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:18vh;" onclick="rightMove()">
            <div style="display:flex;width: 1000vw;position:absolute;" class="gg">
                <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">삽입 후 1년까지는 자연적으로 배출되는 경우도 있다!</h2>
                    <h3 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">몸에 안정되는 데 3개월이 걸려, 3개월 이내에는 특히 빠질 위험이 있다!</h2>
                    <h3 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">특히 시술 후 첫 생리 때 그럴 수 있는 가능성이 높다!</h2>
               </div>
            </div>
                <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">부작용이 발생할 수 있음에 유의하세요!</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400"> 부정출혈, 여드름 발생 등의 부작용이 일어날 수 있습니다.</h2>
               </div>
            </div>
            
            
            </div>
            </div>


            <div class="imjil vene-bottom-content" style="padding-top:-5vh;width:100%;">
            <div class="vene-bottom-box-top">
            <h1>06</h1>
            </div>
            <img src="/assets/x.svg" style="position:absolute;top: 2vh;right:2vh;">
            <img src="/assets/mini.svg" style="position:absolute;top: 1.8vh;right:5vh;width:2.4vh;height:2.4vh;">
            <div class="vene-bottom-box" style="width:100%;display:Flex;flex-direction:column;align-items:center;">
                <div style="display:Flex;align-items:center;width:100%;display:flex;justify-content:flex-start;margin-bottom:4vh;">
                    <div class="vene-box-img" style="margin-right: 8vh;margin-left:20vh;">
                    <img src="/assets/구리루프.gif" style="height: 17vh; width: 25vh">
                    </div>
                    <div class="title">
                    <h1 class="vene3" style="font-size: 5vh">구리루프</h1>
                    <h1 class="vene3" style="font-size: 3.5vh;margin-bottom:2vh;margin-top:0.4vh">Copper loop</h1>
                       <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
                    <h2 style="position:relative;margin-top:1vh">성분 : 구리성분</h2>
                    <h2></h2>
                    </div>
                </div>
                <h2 class="vene1" style="margin-top:0;"> 	원리 : 자궁 내 T자 모양의 구리가 감긴 장치 삽입</h2>
                <h2 class="vene1" style="margin-top:0;"> 	호르몬 대신 구리 이온이 자궁 벽에 무균성 염증을 일으켜 착상 방지</h2>
                <h2 class="vene1" > 성공률 : 99% 이상 | 가격 : 8-10만원</h2>
                <h2 style="font-size: 3.5vh;">이점 | Advantages</h2>
                <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
           <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 20vh;">
           <img class="quiz-left1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:8vh;display:none;" onclick="leftMove1()">
            <img class="quiz-right1" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:8vh;" onclick="rightMove1()">

           <div style="display:flex;width: 1000vw;position:absolute;" class="gg-1">
            <div id= "stage" class="color-blue stage1">
                <h1 class="vene1">Advantage 1. 호르몬 사용이 부담스러운 사람 손!!!!!!</h2>
                <h2 class="vene1">성호르몬을 이용한 피임법이 아니기 때문이죠!</h2>
            
             </div>
                
               <div id="stage" class="color-blue stage2">
                <h1 class="vene1">Advantage 2. 세상 편리한 피임법</h2>
                <h2 class="vene1">5년이나 지속되는 피임, 효율성 짱짱!</h2>
               
            </div>
               
               <div id= "stage" class="color-blue stage3">
                <h1 class="vene1">Advantage 3. 응급피임법으로 사용 가능</h2>
                <h3 class="vene1">사후피임약만 사후피임법이 아니라구요!
                <h3 class="vene1">구리이온이 착상을 방지하는 원리로,</h2>
                <h3 class="vene1">성관계 후 5일 이내에 삽입하면 99.9% 성공률로 사후 피임이 가능합니다!</h2>
               
            </div>

               
            </div>
        </div>
            <h2 style="font-size: 3.5vh;margin-top:5vh;">주 의 사 항</h2>
            <div style="width:7vh;border-bottom:0.2vh solid grey;text-align:center;"></div>
           <div style="width: 95vh;position:relative;overflow:hidden;margin-top: 8vh;border-radius:0.4vh;height: 40vh;margin-bottom:6vh;">
           <img class="quiz-left" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(90deg);position:absolute;z-index:999;left:0;top:18vh;display:none;" onclick="leftMove()">
            <img class="quiz-right" src="/assets/arrow3.svg" style="width:5vh;height:5vh;transform:rotate(270deg);position:absolute;z-index:999;right:0;top:18vh;" onclick="rightMove()">
            <div style="display:flex;width: 1000vw;position:absolute;" class="gg">
            <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">생리량이 많아질 수 있고, 질 분비물이 증가할 수 있습니다.</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">so sad... </h2>
               </div>
            </div>
                <div class="warning">
                <div>
                <img src="/assets/warning.svg">
                <h1 style="margin-top: -4vh;color:yellow;font-weighT: 400">Warning!</h1>
                </div>
                <div style="height: 4vh;width:50vh;display:Flex;flex-direction:column;align-items:center;margin-bottom:4vh;">   
                    <h2 class="vene1" style="color:yellow; font-size:2.5vh;font-weight:400">골반감염의 가능성이 높아진다는 부작용에 유의하세요!</h2>
                    <h2 class="vene1" style="color:yellow; font-size:2.8vh;margin-top:-1.5vh;font-weight:400">구리 성분으로 인해 드물게 골반염 발생의 가능성이 있습니다.</h2>
               </div>
            </div>
                
            </div>
            </div>
            </div>
        


    </div>
    
