


    <div class="table-content">
        <h2>곤지름</h2>
        <h2>곤지름</h2>
        <h2>곤지름</h2>
        <h2>곤지름</h2>
        <h2>곤지름</h2>

    </div>


    <div class="symtom-box">
        <h2>증상을 선택하세요.</h2>
        <div style="width: 100%;display: flex;justify-content: center;  ">
            <div class="symtom">
            <h2>가려움증</h2>
            <img src="http://mblogthumb3.phinf.naver.net/MjAxNzEyMTlfMTIx/MDAxNTEzNjcwNjA2NzM5.rYZBcA3KMe4h-3216VdKZ0NmStt-7IB1laFriY8yv7Eg.wSF4KnEpU9sZawFzpvddsfUZWv3QE6OFyuseK1SUZYAg.JPEG.hanaroma71/%ED%94%BC%EB%B6%80%EA%B0%80%EB%A0%A4%EC%9B%80%EC%A6%9D01.jpg?type=w800">
            </div>

            <div class="symtom">
            <h2>가려움증</h2>
            <img src="http://mblogthumb3.phinf.naver.net/MjAxNzEyMTlfMTIx/MDAxNTEzNjcwNjA2NzM5.rYZBcA3KMe4h-3216VdKZ0NmStt-7IB1laFriY8yv7Eg.wSF4KnEpU9sZawFzpvddsfUZWv3QE6OFyuseK1SUZYAg.JPEG.hanaroma71/%ED%94%BC%EB%B6%80%EA%B0%80%EB%A0%A4%EC%9B%80%EC%A6%9D01.jpg?type=w800">
            </div>
            <div class="symtom">
            <h2>가려움증</h2>
            <img src="http://mblogthumb3.phinf.naver.net/MjAxNzEyMTlfMTIx/MDAxNTEzNjcwNjA2NzM5.rYZBcA3KMe4h-3216VdKZ0NmStt-7IB1laFriY8yv7Eg.wSF4KnEpU9sZawFzpvddsfUZWv3QE6OFyuseK1SUZYAg.JPEG.hanaroma71/%ED%94%BC%EB%B6%80%EA%B0%80%EB%A0%A4%EC%9B%80%EC%A6%9D01.jpg?type=w800">
            </div>
            <div class="symtom">
            <h2>가려움증</h2>
            <img src="http://mblogthumb3.phinf.naver.net/MjAxNzEyMTlfMTIx/MDAxNTEzNjcwNjA2NzM5.rYZBcA3KMe4h-3216VdKZ0NmStt-7IB1laFriY8yv7Eg.wSF4KnEpU9sZawFzpvddsfUZWv3QE6OFyuseK1SUZYAg.JPEG.hanaroma71/%ED%94%BC%EB%B6%80%EA%B0%80%EB%A0%A4%EC%9B%80%EC%A6%9D01.jpg?type=w800">
            </div>
            <div class="symtom">
            <h2>가려움증</h2>
            <img src="http://mblogthumb3.phinf.naver.net/MjAxNzEyMTlfMTIx/MDAxNTEzNjcwNjA2NzM5.rYZBcA3KMe4h-3216VdKZ0NmStt-7IB1laFriY8yv7Eg.wSF4KnEpU9sZawFzpvddsfUZWv3QE6OFyuseK1SUZYAg.JPEG.hanaroma71/%ED%94%BC%EB%B6%80%EA%B0%80%EB%A0%A4%EC%9B%80%EC%A6%9D01.jpg?type=w800">
            </div>
        </div>
    </div>

    <div class="diagnosis">
        <div class="disease">
        <h2>곤지름</h2>
        <h2>Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this!Explain this! lelts begtin  </h2>
        </div>
        <div class="disease">
        <h2>곤지름</h2>
        <h2>Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this!Explain this! lelts begtin  </h2>
        </div>
        <div class="disease">
        <h2>곤지름</h2>
        <h2>Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this!Explain this! lelts begtin  </h2>
        </div>
        <div class="disease">
        <h2>곤지름</h2>
        <h2>Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this! Explain this!Explain this! lelts begtin  </h2>
        </div>

    </div>



