<div class="top-button" onclick="movetop()">
    <img src="assets/up.svg" alt="" style="width: 6vh;height:6vh;z-index:1000;">
    <h1 style=" font-weight:400; top:-2vh; position:relative;">Top</h1>
</div>
  
<div class="main-1">
    <div class="main-1-container">
        <div class="main-1-title">
        <img src='/assets/성교할래.svg'>
            <%# <h1>성교</h1><h1 style="color: rgb(255, 255, 214)">할래</h1> %>
             <%# <img src="/assets/성교한자.svg"> %>
        </div>
        <h1>그런적 있지 않아?</h1>
        <h2>가끔씩 이렇지 않아? 나만 그래? 라고<br>
            친구들과 성과 관련한 이야기를 하진 않나요?<br>
            여러분과 같은 사람을 만나고<br>
            서로 알아갈 수 있는 기회입니다!<br>
        </h2>
        <img src="/assets/공감start.png" alt="" style="width: 40vh;height: auto;margin-top:2vh;cursor:pointer" onclick="movequiz()">
        <img src="/assets/arrow.svg" alt="" style="width:6vh;height: 6vh;fill:white;position:relative;top:-3vh;">
        <img src="/assets/arrow.svg" alt="" style="width: 6vh;height: 6vh;fill:white;position:relative;top: -6vh">
    </div>
</div>

<div class="main-2">
    <div class="pursuit">
            <div style="display:flex;"><h1 style="font-size: 4vh;">성교육</h1><img src="/assets/think.svg" alt="" style="margin-left:0.5vh;width:4.5vh;height:4.5vh;"></div><h1 style="font-size: 3vh;font-weight:300;font-weight: 500;margin-top: 0.3vh;">생각하면</h1><div style="display:flex;margin-top: 0.4vh"><h1 style="font-size: 3.5vh;color: red;">떠</h1><h1 style="font-size: 3.5vh;color: red;">오르는 것?</h1>
            </div>
            <div>
                <div style="width: 90%;height:2.5px;background-color: rgba(170, 170, 170, 0.507);margin-top: 50%;display:flex;">
                        <div style="width:0.9vh;height:0.9vh;background-color:white;border: 2px solid rgb(226, 4, 4);border-radius:50%;position:relative;top:-0.3vh;left:3vh;" ></div>
                        <div style="width:3vh;height:0.2vh;background-color:rgb(228, 0, 0);position:absolute"></div>
                </div>

                <h1 style="margin-top:1.5vh;font-size:1.7vh;font-weight: 300;">남은 시간 1:50:12</h1>
            </div>
    </div>
    <div class="main-2-container">
        <div class="main-2-container-circle">
            <div class="circle">
                <img src="http://res.heraldm.com/content/image/2014/08/12/20140812001137_0.jpg">
            </div>
            <h1>밀려오는 지루함;;</h1>
            <h2>언제 끝나는 걸까?</h2>
        </div>
        <div class="main-2-container-circle">
            <div class="circle">
                <img src="http://mblogthumb2.phinf.naver.net/MjAxNzA1MDRfNjIg/MDAxNDkzODgyMTI2NDUw.rF08VjzErYSKgPZjHuiGluUWURbbopMBlLc9--XLc-Ag.AgOlfKrTjBdTSeNIm97m57vePNoX3YviXXxjKFNwuE4g.JPEG.comandsoft/%EB%B3%B4%EC%8A%A4%EB%B2%A0%EC%9D%B4%EB%B9%84_%EC%96%B4%EB%A6%B0%EC%9D%B4%EC%98%81%ED%99%94_1.jpg?type=w800">
            </div>
            <h1>말도 안되는 내용?!</h1>
            <h2>저걸 가르쳐서 무슨 소용?</h2>
        </div>
        <div class="main-2-container-circle">
            <div class="circle">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPRqvQUnNZLk_Il6S1y9xCC7qLD60qAF823b_GPsS13ROdJJcI">
            </div>
            <h1>이미 다 아는걸...</h1>
            <h2>내가 정말 궁금한건 달라!</h2>
        </div>
    </div>
</div>

<div class="main-3">    
    <div class="main-3-container">
        <div class="main-3-container-top-box">
            <h1>성교로 이제 단번에 해결!</h1>
            <div class="main-3-container-top">
                <h1> [ 性 성 성 | 敎 가르칠 교 ] 우리는, 서로가 성에 대해 가르칠 수 있도록 하는 '성교육 플랫폼'입니다!</h1>
            </div>
        </div>
        <div class="main-3-container-bottom">
            <div class="main-3-container-bottom-explain">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReed4emzxyQXYOkCqnwnh9GGn-hyY8ogfxZyhlH9FC2a6FAKArMw" alt="">
                <div class="strength-explain">
                    <h1>정말 필요한 성지식을 공유</h1>
                    <h2>청소년부터 성인에 이르기까지, 모두가 필요로 하는 성지식을 제공합니다!</h2>
                    <h2>청소년부터 성인에 이르기까지, 모두가 필요로 하는 성지식을 제공합니다!</h2>
                    <h2>청소년부터 성인에 이르기까지, 모두가 필요로 하는 성지식을 제공합니다!</h2>
                </div>
            </div>
            <div class="main-3-container-bottom-explain">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPRqvQUnNZLk_Il6S1y9xCC7qLD60qAF823b_GPsS13ROdJJcI" alt="">
                <div class="strength-explain">
                    <h1>정말 필요로 하는 성지식 공유</h1>
                    <h2>청소년부터 성인에 이르기까지, 모두가 필요로 하는 성지식을 제공합니다!</h2>
                    <h2>청소년부터 성인에 이르기까지, 모두가 필요로 하는 성지식을 제공합니다!</h2>
                    <h2>청소년부터 성인에 이르기까지, 모두가 필요로 하는 성지식을 제공합니다!</h2>
                </div>
            </div>
            <div class="main-3-container-bottom-explain">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReed4emzxyQXYOkCqnwnh9GGn-hyY8ogfxZyhlH9FC2a6FAKArMw" alt="">
                <div class="strength-explain">
                    <h1>정말 필요로 하는 성지식 공유</h1>
                    <h2>청소년부터 성인에 이르기까지, 모두가 필요로 하는 성지식을 제공합니다!</h2>
                    <h2>청소년부터 성인에 이르기까지, 모두가 필요로 하는 성지식을 제공합니다!</h2>
                    <h2>청소년부터 성인에 이르기까지, 모두가 필요로 하는 성지식을 제공합니다!</h2>
                </div>
            </div>
        </div>   
    </div>
</div>

<div class="main-4">
    <div class="main-4-container">
            <a class="main-4-container-circle" href="/home/quiz">
                
            </a>
            <h1>나는 성지식을 얼마나 많이 알고 있을까?<br>테스트로 나의 '성진성'을 측정해보아요!</h1>
            <div class="main-4-container-explain">
                <h1>자격 요건 | 성지식에 능통한 당신이라면!</h1>
            </div>
            <h4 style="font-size: 1.7vh; margin-top: 20px; color:#28939c;">* 아이디 가입하지 않아도 돼요!</h4>
    </div>
</div>


<div class="main-4-0">

</div>

<div class="main-4-1">
    <div class="main-4-1-button">
        <h1>Point !</h1>
    </div>
    <h1>성에 대한 우리의 지식과 생각</h1>
    <h2>같을 수도 다를 수도 틀릴 수도 있다는 것!</h2>
    <div style="width: 4vh;border-bottom:2px solid rgb(103, 28, 107);"></div>
</div>
<div class="main-5">
    <img src="/assets/left.svg" alt="" style="width:5vh; height:4vh; transform:rotate(180deg); margin-left:1.5vh;">
    <div class="main-5-container">  
        <div style="margin-bottom:2vh;">
            <h2 style="color:white;font-size:3vh">가장 핫한 성교글!</h2>
            <h1 style="color: white; font-size: 7vh;">Popular Community Post TOP 6</h1>
        </div>
        
        <div class="main-5-container-post-box">
            <div class="main-5-container-post">
                <div class="post-title" >
                    <div style="display:flex;">
                        <div class="post-profile">

                        </div>
                        <div class="post-author">
                            <h1>Jang Young Jae</h1>
                            <div style="display:flex; flex-direction:row; align-items:center;">
                                <h1>10시간 전</h1>
                                <img src="/assets/earth.svg" alt="" style="width:2vh; height:2vh; margin-left:0.3vh; position:relative; top:0.3vh;">
                            </div>   
                        </div>
                    </div>
                    <img src="/assets/3dot.svg" alt="" class="dot">
                </div>
                
                 <h1 class="post-content">Excellent!Excllent!Excellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellenllent!Excellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellenllent!Excellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellenllent!Excellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellenllent!Excellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellenllent!Excellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellenllent!Excellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellenllent!Excellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellenllent!Excellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellenllent!Excellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellenllent!Excellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellenellent!ExcellenExcellent!ExcellenExcellent!Excellent!Excellent!</h1>
               
            </div>
            <div class="main-5-container-comment">
                <div class="comment-box" onclicked="toggle_comment()">
                    <div class="post-profile">

                    </div>
                    <div class="comment">
                        <h1>Jang Young Jae Excellent!Excellent!Excelt!Excellent!Excellent!Excellet!Excellent!Excellent!Excellelent!Excellent!Excellent!Excellent!Excellent!Excellent!</h1>
                    </div>
                
                </div>
                <div class="comment-box" onclicked="toggle_comment()">
                        <div class="post-profile">

                        </div>
                        <div class="comment">
                            <h1>Jang Young Jae Excellent!Excellent!Excellent!Excellent!Excellent!Excellent!Excellent!Excellent!</h1>
                        </div>
                    
                </div>
                <div class="comment-box" onclicked="toggle_comment()">
                        <div class="post-profile">

                        </div>
                        <div class="comment">
                            <h1>Jang Young Jae Excellent!Excellent!Excellent!Excellent!!</h1>
                        </div>
                    
                </div>
                <div class="comment-box" onclicked="toggle_comment()">
                        <div class="post-profile">

                        </div>
                        <div class="comment">
                            <h1>Jang Young Jae Excellent!Excellent!Excellent!Excellent!Excellent!Excellent!Excellent!Excellent!</h1>
                        </div>
                    
                </div>
            </div>
            </div>
        </div>    
    <img src="/assets/left.svg" alt="" style="width:5vh; height:5vh; margin-right:1.5vh">
</div>


<script>

$(".mCSB_container").css({"position":"absolute"})
function movetop() {
    $('html, body').animate({scrollTop : 0}, 900);
}
function movequiz() {
    var offset = $(".main-4").offset();
    $('html, body').animate({scrollTop : offset.top}, 800);
}
function toggle_comment() {
    $('.comment-box h1').css({'white-space': 'initial' })
}


        $(".post-content").mCustomScrollbar({
            axis: "y",
            theme: "dark-3"
        });
 



</script>