
<div class="quiz-box">
    <div class="quiz-1 flex-column-center">
        <button onclick="startMove()" style="margin-top: 500px">Start!</button>
    </div>
    <div id="div2" class="quiz-2">
    <%i = 0%>
    <%while i < 5 do%>
        <div class="quiz-2-container">
            <div class="quiz-2-container-box">
                <h2 class="left" onclick="leftMove()" style="cursor:pointer;">left</h2>
                <h2 class="right" onclick="rightMove()">right</h2>
                <h2>콘돔의 피임 확률은 100%이다.</h2>
            </div>
            <div class="quiz-2-container-answer">
                <div class="yes">
                    <h2>Yes!</h2>
                    <h2>100% 맞다!</h2>
                </div>
                <div class="no">
                    <h2>No!</h2>
                    <h2>100%는 아니다!</h2>
                </div>
            </div>
        </div>
    </div>
    <%i+=1%>
    <%end%> 
</div>

<script>
    function startMove() {
         $('.quiz-box').animate({top : -window.innerHeight}, 400);
    }

    function leftMove() {
        $('.quiz-2').animate({left : `+=${window.innerWidth}`}, 400);
    }

    function rightMove() {
        $('.quiz-2').animate({left : `-=${window.innerWidth}`}, 400);
    }
    
</script>
    
    

