
<div class="quiz-box">
    <div class="quiz-1 flex-column-center">
        <div class="dog">
            <img src="/assets/dog.gif">
        </div>
        <div class="message">
            <h1>성지식 어디까지?</h1>
            <h2>우리가 까맣게 몰랐던, 혹은 우리가 당연하게 생각했던,</h2>
            
            <h2>하지만 우리가 잘못알고 있는 성지식이 있지는 않을까?</h2>
            
        </div>
        <button onclick="startMove()"><h1>Let's Start!</h1></button>
    </div>
    <div class="quiz-2">
        <img class="quiz-left" src="/assets/arrow3.svg" style="width:40px;height:40px;transform:rotate(90deg);position:absolute;z-index:999;left:19%;top:50%;display:none;" onclick="leftMove()">
        <img class="quiz-right" src="/assets/arrow3.svg" style="width:40px;height:40px;transform:rotate(270deg);position:absolute;z-index:999;left: 77%;top:50%;" onclick="rightMove()">
        <div class="quiz-2-container">
        <%i = 0%>
        <%while i < 15 do%>
            <div class="quiz-2-container-content">
                <div id="quiz-<%=i+1%>" class="quiz-2-container-content-box">
                    <h2>콘돔의 피임 확률은 100%이다.</h2>
                </div>
                <div class="quiz-2-container-answer">
                    <div class="yes">
                        <h2>Yes!</h2>
                        <h2>100% 맞다!</h2>
                    </div>
                    <div class="no">
                        <h2>No!</h2>
                        <h2>100%는 아니다!</h2>
                    </div>
                </div>
            </div>
        <%i+=1%>
        <%end%> 
        </div>
    </div>
</div>
   
<script>
   
    var i = 1;
    var quiz_css = [];
    while ( i < 16 ) {
        quiz_css.push(`#quiz-${i}:after { content: '${i}' }`);
        console.log(quiz_css);
        i +=1;
    }
    var quiz_css_submit = "<style>" + quiz_css.join(' ') + "</style>";
    console.log(quiz_css_submit);
    $(`${quiz_css_submit}`).appendTo("head");
       
    

    var scroll = $("body").width()*0.6;
    $(".quiz-2-container-content").css({"width": `${scroll}`});
    $("body").css({"overflow": "hidden"});
    var quiz_number=1;

    function startMove() {
        var offset = $(".quiz-2").offset();
        $('html, body').animate({top :  -$("body").height()*0.5}, 800);
    }

    function leftMove() {
        if (quiz_number == 15) {
            $(".quiz-right").css({"display": "block"});
        }
          if (quiz_number == 2) {
            $(".quiz-left").css({"display": "none"});
        }
        if (quiz_number > 1) {
            quiz_number-=1
            $('.quiz-2-container').animate({left : `+=${scroll}`}, 600);
        }
    
    }

    function rightMove() {
         if (quiz_number == 1) {
            $(".quiz-left").css({"display": "block"});
        }
         if (quiz_number == 14) {
            $(".quiz-right").css({"display": "none"});
        }
        if (quiz_number < 15) {
            quiz_number +=1
            $('.quiz-2-container').animate({left : `-=${scroll}`}, 600);
        }
    }
    
</script>
    
    

