<div class="data">
    <p>Profile Details</p>
    <img id="pic" class="img-circle" width="100" height="100"/>
    <p>Email Address</p>
    <p id="email" class="alert alert-danger"></p>
    <button onclick="signOut()" class="btn btn-danger">Signout</button>
</div>
<style>
    .data {
        display: none;
    }
</style>
<%=@user = User.all%>
<%@user.each do |post| %>
<h1><%=post.email%></h1>
<%end%>