/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
    
 * {
    padding: 0;
    margin: 0;
    font-weight: 200;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style:none;
}
html,body {
    width: 100%;
    height: 100%;
    position: relative;
    
}

p, h1, h2, h3, h4, a {
    font-family: 'Nanum Barun Gothic', sans-serif;
    color: rgb(56, 56, 56);
    text-shadow: 0px 0px 2.5px rgba(65, 65, 65, 0.342);
    font-family: 'seoulNamSan' sans-serif;
}
a {
    text-decoration: none;
}


/*nav*/
.nav {
    height: 9vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0vh 0vh 4vh #2929293d;
    overflow:hidden;   
    padding: 0 14vw 0 14vw; 
}

.logo {
    position: relative;
    
    top:0.3vh;
    display: flex;
    align-items:  center;
    font-size: 2.2vh;
}

.logo a {
    height: 100%;
    position: relative;
}

.logo h1 {
    font-size: 5vh;
}

.logo .small {
    position:relative;
    top:0.3vh;
    margin-left:1vh;
    font-size: 2.2vh;
}


.nav-menu-box {
    
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    position: relative;
    left:-2vh;
}

.nav-menu {
    height: 100%;
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.7vw 0 0.7vw;
}

.nav-menu img {
    position: relative;
    height: 4vh;
    width: auto;
}

.nav-menu h1 {
    font-size: 1.5vh;
    position:relative;
    background-color: white;
    top: -1vh;
}

/*top-button*/
.top-button {
    width: 7vh;
    height: 7vh;
    position: fixed;
    z-index: 500;
    bottom: 5vh;
    right: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border-radius: 50%;
    background-color:  rgb(255, 255, 255);
    box-shadow: 3px 5px 20px #2929293d;
    cursor: pointer;
}

.top-button h1 {
    z-index: 500;
    font-size: 1.5vh;
}

.top-button:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    display: block;
    background-color:rgb(255, 255, 255);
    animation: pulse-animation 1s linear infinite;
} 

@keyframes  pulse-animation{
    0%{opacity:0.5;transform:scale(1)}
    50%{opacity:0.25;transform:scale(1.25)}
    100%{opacity:0;transform:scale(1.5)}
}

