.vene-box-img {
width: 25vh;
height: 25vh;
background-color: #ff7f9b;
border-radius: 0.4vh;
display:flex;
justify-content: center;
align-items: center;

}

.title {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#stage {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 95vh;
    height: 20vh;
   
    border-radius: 0.5vh;
    box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.411);
    justify-content: center;
    h1 {
        font-size: 3.2vh;
        font-weight:400;
       margin-bottom: 0;
       color: white;
    }
    h2  {
        color: white;
      margin-top: 0;
        font-size: 2.5vh;
    }

    h3 {
        color: white;
        font-size: 2vh;
    }
}
.color-blue {
    background-color:#153450;
}

#stage {
    margin-top: 5vh;
}

.vene-title {
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: -25vh;   
}


.warning {
    width: 95vh;
}

.stage1 {
    background-color : #1d4b74;
}


.stage2 {
    background-color : #1b4264;
}
.stage3 {
    background-color : #132e47;
}
.stage4 {
    background-color : #0e2335;
}
.warning {
    margin-top: 6vh;
    width: 95vh;
    height: 40vh;
    padding: 5vh;
    background-color:#fa5663;
    box-shadow: 1vh 1vh 4vh rgba(0, 0, 0, 0.411);
    border-radius: 0.7vh;
    flex-direction:column;
    display: flex;
    margin-bottom: 2vh;
    align-items:center;
}


.vene-bottom .warning img {
        margin-top:-3vh;
        width: 20vh;
        height: 20vh;
    
    }
