.login-session {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding-top: 100px;
    background: rgb(255, 182, 87) url("login.png") 100% 100% repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-session-error {
    position: absolute;
}

.login-session-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    background-color: rgb(245, 210, 169);
    margin-bottom:1vh;
    box-shadow: 5px 7px 20px #2929293d;
}

.login-session-container form {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:4vh;
}
.login-session-container form .field {
    width:  28vh;
    height: 7vh;
    margin-bottom: 3vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2vh;
}

.login-session-container form .field label {
    font-size: 2vh;
}

.login-session-container form .field input {
    font-size: 2vh;
    width: 100%;
    height: 5vh; 
    border: none;
    padding: 0.5vh;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.login-session-container form .field-1 {
    width:  25vh;
    height: 3vh;
    margin-bottom:2vh;
    font-size: 1.5vh;
    display: flex;
    align-items: center;
}

.login-session-container form .field-1 input {
    width: 1.5vh;
    height: 1.5vh;
}

.login-session-container form input[type=submit] {
    color: white;
    font-size: 2vh;
    width:  13vh;
    height: 5vh;
    border-radius: 4vh;
    background-color: blueviolet;
    border: none;
    box-shadow: 3px 3px 10px #2929293d;
}


.login-session-forget {
    width: 30vh;
    height: 5vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-session-forget a {
    font-size: 2vh;
    margin: 0 2vh 0 2vh;
}

.login-session-explain {
    box-sizing: border-box;
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1%;
    top: 94%;
    left:0;
}

.login-session-explain > h1, h2 {
    font-size: 2vh;
}

#login-session-password-find {
    width: 40vh;
    margin-top:2vh;
}

