// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.post-index-profile {
    width: 23vw;
    
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  
}

.post-index-profile h1 {
    color: white;
    margin-bottom:1vh;
    font-size: 3vh;
}

.post-index-profile-box {
    width: 15vw;
    min-height:20vh;
    background-color: rgb(248, 248, 248);
    border-radius: 0.5vh;
    margin-top: 4vh;   
    padding: 2vh;
    margin-bottom: 3vh;
    box-shadow: 2vh 3vh 5vh rgba(19, 1, 1, 0.342);
    h1 {
        color: black;
        font-size: 2vh;
    }
    .popular {
        display: flex;
        margin-left: 1vh;
        h1 {
            margin-right: 1vh;
        }
    }
}

.post-username {
    margin-top:2vh;
    font-weight:500;
    font-size: 2vw; 
}

.post-index-popular {
    width: 100%;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(182, 182, 182);
    margin-bottom:2vh;
    h1 {
        font-size: 2.5vh;
        color: black;
    }
    img {
        width: 2vw;
        height: 2vw;
        position:relative;
        top:-0.3vh;
    }
}


.post-index-profile-img {
    width: 15vw;
    height: 15vw;
    border-radius:0.5vh;
    box-shadow: 2vh 3vh 5vh rgba(19, 1, 1, 0.342);
    margin-top:20vh;
}

.post-index-celebrate {
    width: 15vw;
    height:4vw;
    background-color: rgb(248, 248, 248);
    border-radius: 0.5vh;
    margin-top: 2vh;   
    padding: 2vh;
    box-shadow: 2vh 3vh 5vh rgba(19, 1, 1, 0.342);
    display:flex;
    align-items: center;
    img {
        width: 4vh;
        height: 4vh;
        border-radius:50%;
        margin-right: 1vh;
    }
    .post-index-celebrate-content {
        h1 {

            color: black;
            font-size: 2vh;
        }
        h2 {
            font-size: 1.7vh;
        }
    }
}

.post-index-menu {
    width: 15vw;
    height: 8vw;
    background-color: rgb(248, 248, 248);
    margin-top: 4vh;
    border-radius:0.5vh;
    padding: 2vh;
    box-shadow: 2vh 3vh 5vh rgba(19, 1, 1, 0.342);
}

.post-index-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    top: 0;
    margin-top: 20vh;
    margin-bottom: 10vh;
    padding: 0 2vh 4vh 2vh;
    left: 23vw;
    width:70vw;
    min-height: 150vh;
    background-color: rgb(248, 248, 248);
    border-radius:0.5vh;
    box-shadow: 3vh 4vh 8vh rgba(19, 1, 1, 0.342);

}

.post-index-container-top {
    display: flex;
    padding: 4vh;
    margin-bottom: 7vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.post-search {
    display:flex;align-items:center;
    h1 {
        font-size: 2vh;
        margin-right: 2vh;
    }
    input {
        width: 15vw;
        height: 3vh;
        border: none;
        padding-left: 0.5vw;
    }
}

.post-index-container-top2 {
    width: 100%;
    display: flex;
    margin-bottom: 4vh;
    padding: 0 4vh 0 4vh;
    justify-content: space-between;
}

.category-name {
    padding-top:0.8vh;
    
    margin-right: 2vh;
   font-size: 2vh;
   width: 10vh;
   height: 4vh;
   background-color: rgb(245, 245, 245);
   border: 1px solid rgb(206, 206, 206);
   border-radius: 0.3vh;
   text-align: center;
   box-shadow: 1vh 1vh 2vh rgba(201, 201, 201, 0.096);
}

.new-post {
    padding-top:0.8vh;
    font-size: 2vh;
    width: 15vh;
    height: 4vh;
    background-color: rgb(219, 143, 43);
    border: 1px solid rgb(206, 206, 206);
    color: white;
    border-radius: 0.3vh;
    text-align: center;
}

.post-index-container-box {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout:fixed;

    .td1, .td2, .td3, .td4, .td5 {
        border-bottom:1px solid rgb(235, 235, 235);
        font-size: 1.5vh;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 1vh;

    }
    .td1 {
        width: 40%;
    }
    .td2 {
        width: 25%;
    }
    .td3, .td5 {
        width: 25%;
    }
    .td4 {
        width: 10%;
    }
    
    .tr1, .tr2 {
        height: 4vh;
    }
}


//post-show
.post-show-content {
    width: 100%;
    min-height: 40vh;
    padding: 0 4vh 0 4vh;
    overflow: hidden;
    white-space:normal;
    text-overflow: hidden;
    position: relative;

}
.post-show-content h1 {
    white-space:normal;
    font-size: 3vh;
}
.post-show-content h2 {
    font-size: 3vh;
    white-space:normal;
}

.post-show-new-comment {
    width: 100%;
    min-height: 5vh;
    padding: 0 4vh 0 4vh;
    display:flex;
    justify-content: space-between;
    #comment_content {
        width: 85%;
        height: 2.5vw;
        border:none;
        border-radius:0.5vh;
    }
    .post-show-new-comment-input {
        height: 2.5vw;
        width: 13%;
        background-color:  rgb(219, 143, 43);
        border:none;
        border-radius:0.5vh;
        color: white;
        font-size: 2vh;
        box-shadow: 0.5vh 0.5vh 1vh rgba(48, 48, 48, 0.048);
    }
}

.post-show-comments {
    width: 66vw;
    min-height:4vh;
    padding: 1vh 0vh 0 0vh;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(233, 233, 233);
    
    h1 {
        padding-left: 1vh;
        width: 60%;
        font-size: 2vh;
        white-space: normal;
        overflow: hidden;

    }
    h2 {
        width: 25%;
        font-size: 2vh;
        text-align: center;
    }
    a {
        width: 13%;
        font-size: 2vh;
        text-align:center;
    }
}

.holy {
    margin-right: 2vw;
}

.post-edit-title {
    width: 66vw;
    padding: 0 4vh 0 4vh;
    margin-bottom: 4vh;
    
    input {
        width: 100%;
        border: none;
        height: 4vh;
        font-size: 1.5vh;
    }
    textarea {
        width: 100%;
        height: 60vw;
        border: none;
        font-size: 1.5vh;
    }
    input[type=submit] {
        width: 15vh;
        height: 5vh;
        margin-top: 4vh;  
        font-size: 2vh;
        box-shadow: 1vh 1vh 2vh rgba(63, 63, 63, 0.041); 
    }
}
.post-show {
    min-height: 50vh;
}

.post-show-content  {
 font-size: 1.7vh;
    margin-lefT: 0.4vh;
}

.like-box {
    width: 15vh;
    height: 4vh;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:white;
    border-radius:0.3vh;
    bottom: 3vh;
    right: 8vh;
    position: absolute;
    box-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.116);
    cursor: pointer;
    h2,a {
        font-size: 1.8vh;
        position: relative;
        
    }
    img {
        width:3vh;
        height: 3vh;
        position: relative;
        top: 0.2vh;
    }
    a {
        margin-right: 0.3vh;
    }
}


