.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.quiz-1 {
    width: 100%;
    height: 100%;
    background-color: red;
}

.quiz-1 button {
    border: none;
    width:100px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(255, 94, 0);
    color: white;
}

.quiz-2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.quiz-2-container {
    padding-left: 20%; 
    width: 1000%;
    height: 100%;
    position:absolute;
    display:flex;
    align-items: center;
}
.quiz-2-container-content {
    position: relative;
    align-items: center;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}

.quiz-2-container-content-box {
    width: 80%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 7px 20px #2929293d;
    position:relative;
    margin-top:10%;
}

.quiz-2-container-content-box::after {
    display: block;
    text-align: center;
    padding-top: 3px;
    position: absolute;
    font-size: 18px;
    border-radius: 50%;
    font-weight: 500;
    color: white;
    width: 55px;
    height: 50px;
    top: -30px;
    left: 45%;
    z-index: -1;
    background-color:rgb(180, 39, 39);
} 

.left, .right {
    z-index: 999;
    cursor: pointer;
}

.quiz-2-container-answer {
    width: 100%;
    margin-top: 3%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items:  center;
}



.yes, .no {
    box-shadow: 5px 7px 20px #2929293d;
    border-radius: 50px;
    width: 30%;
    height: 100%;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items:  center;
    margin: 0 2% 0 2%;
   
}

.yes {
    background-color: rgb(252, 91, 86);
    color: white;
}

.yes h2 {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.no {
    background-color:  blueviolet;
    color: rgb(11, 114, 11);
}

.no h2 {
    font-size: 25px;
    font-weight: 500;
    color: white;
}
