.venereal {
  
    // background-image: linear-gradient(white, white, #fff3de);
    display:flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vene-top {
    background: #294052;
    // background: #294052 url("빗금.png") 0 0 repeat;  
    padding-top: 9vh;
    background-size: 30% 50%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width :100%;
    height: 100vh;
    .vene-title h1{
        color: #fab844;
        position: relative;
        font-size: 5vh;
        font-weight: 400;
        
        
    }
    .vene-subtitle h1{
        line-height: 3.5vh;
        margin-top: 2vh;
        font-size: 2.2vh;
        color: white;
       
    }
}

.vene-mid {
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 2%;
    .vene-mid-1{
        margin-right: 8px;
    }
    .vene-mid-2{
        margin-left: 8px;
    }
    
}

.vene-bottom {
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  
    width: 130vh;
    position: relative;
    top: -5vh;
    padding:10vh;
    border-radius: 0.4vh;
    
    img {
        width: 2vh;
        height: 2vh;
       
        border-radius: 0.5vh;
    }

    .vene1 {

    }
    // .imjil {
    //     border-top-color: #ed4f3e;
    //     border-top-style: solid;
    //     border-bottom-color: #fab844;
    //     border-bottom-style: solid;
    //     border-bottom-width: thin;
    //     border-top-width: thin;
       
    // }
    // .maedok{
    
    //     border-top-color: #fab844;
    //     border-top-style: solid;
    //     border-bottom-color: #ed4f3e;
    //     border-bottom-style: solid;
    //     border-bottom-width: thin;
    //     border-top-width: thin;
     
    // }
    // .herpes{
        
    //     border-top-color: #ed4f3e;
    //     border-top-style: solid;
    //     border-bottom-color: #fab844;
    //     border-bottom-style: solid;
    //     border-bottom-width: thin;
    //     border-top-width: thin;
       
    // }
    // .gon{
        
    //     border-top-color: #fab844;
    //     border-top-style: solid;
    //     border-bottom-color: #ed4f3e;
    //     border-bottom-style: solid;
    //     border-bottom-width: thin;
    //     border-top-width: thin;
      
    // }

    #imjil:hover, #maedok:hover, #herpes:hover, #gon:hover{
        background-color: rgba(255, 255, 255, 0.24) url("main-4-back.png") repeat repeat;
        h1 {
            font-size: 2.2vh;
            color: rgb(248, 255, 183);
        }
    }


}

.vene-bottom-content {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    padding: 4vh 0 4vh 0 ;
    border-radius: 0.7vh;
    background-color: #fff9f2;
    margin-bottom: 15vh;
    box-shadow: 1vh 1vh 3vh rgba(0, 0, 0, 0.39);
     h1 {
        font-size: 4vh;

     }
     h2 {
         margin-top:2vh;
         text-align:left;
         line-height: 240%;
        font-size: 2vh;
     }
     
 }

.vene-bottom-box {
    width: 90vh;
   
}

.vene-bottom-box-top {
    display: flex;
   justify-content: center;
   align-items: center;
    width: 15vh;
    height: 15vh;
    position:absolute;
    top: -7.5vh;
    border-radius: 50%;
    left: -7.5vh;
    background-color: #447294;
    box-shadow: 0.5vh 0.5vh 1.5vh rgba(0, 0, 0, 0.411);
    h1 {
        color: white;
        font-size: 5vh;
    }
}

.vene-index {
    position: fixed;
    z-index: 5;
}

.vene-select {
    display: flex;
    margin-top:4vh;
    h1 {
        text-align: center;
        width: 20vh;
        font-size: 2vh;
        height: 6vh;
        padding-top:1.7vh;
        margin:2vh;
        background-color :#447294;
        font-weight: 300;
        color:white;
        border-radius: 0.3vh;
        box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.226);
    }
}


.human-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0vh 0vh 4vh rgba(0, 0, 0, 0.212);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.329);
    opacity: 0;
    z-index: 4;
    transition: opacity 0.3s linear 0s;
   
}

.vene-human {
    display:flex;
   justify-content: center;
    margin-top: 10vh;
 
}

.vene-man, .vene-woman {
    width: 40vh;
    overflow: hidden;
    height: 40vh;
    border-radius: 0.7vh;
    box-shadow: 1vh 1vh 4vh rgba(0, 0, 0, 0.226);
    margin: 0 5vh 0 5vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
    h1, h2 {
        z-index: 5;
        opacity: 0;
        position: relative;
        color: white;
        font-weight: 400;
        transition: opacity 0.3s linear 0s;
    }
    h2 {
        font-size: 4vh;

    }
    h1 {
        font-size: 3.5vh;
    }
    
}

.vene-woman {
   top: -30vh;
    img {
        height: auto;
        width: 100%;
        position: absolute;
        top: 0vh;
        left: 0;
        z-index:1;
    }
}

.vene-man {
    top: -30vh;
    img {
        height: auto;
        width: 100%;
        position: absolute;
        top: 0vh;
        z-index: 1;
        left: 0;
    }
}


.vene-man:hover .human-text, .vene-woman:hover .human-text  { 
    opacity: 1;
   
}


.vene-man:hover .human-shadow, .vene-woman:hover .human-shadow   { 
    opacity: 1;
   
}
.human-text:hover {
     opacity: 1;
}

.vene-human-box {
   
    width: 100vw;
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.vene-human-see {
    width: 130vh;
    height: 30vh;
    position: relative;
    top: 0;
    left: 0;
   
}
.vene-circle {
    width: 10vh;
    height: 10vh;
    top: 40vh;
    left: 33vh;
    border-radius:50%;
    border: 0.4vh solid rgb(0, 0, 0);
    position: absolute;
}

.vene-human-see-pic {
width: 75vh;
height: 60vh;
border-radius: 0.4vh 0 0vh 0.4vh ;
position: absolute;
top: -30vh;
left: 0;
z-index:3;
overflow: hidden;
box-shadow: 1vh 1vh 4vh rgba(0, 0, 0, 0.226);
display:flex;
justify-content: center;
align-items: center;
background-color: rgb(247, 247, 247);
img {

    width: 100%;
    height: 105%;
    position:relative;
   
}
}

.vene-human-see-content {
    width: 55vh;
    height: 70vh;
    background-color: #153450;
    border-radius:0.5vh;
    position: absolute;
    top: -35vh;
    right: 0;
    z-index: 4;
    box-shadow: 1vh 1vh 5vh rgba(0, 0, 0, 0.322);
   
}

.vene-human-see-content-box {
    width:55vh;
    height: 30vh;
    padding: 5.5vh;
    position: relative;
    border-radius:0.8vh;
    h1 {
        color: white;
        font-size: 4vh;
        padding-bottom: 3vh;
        
    }
    h2 {
        line-height: 4vh;
        margin-top: 3vh;
        font-size: 2.2vh;
        color:white;
    }
}


.education-gend {
    width: 100%;
    height: 100vh;
    background-color: #1874d2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    h1 {
        color: white;
        font-weight: 400;
    }
}